.button {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    height: 21px;
    width: 76px;
    background-color: #2D609B;
    color: white;
    border: none;
    cursor: pointer;
}

.icon {
    margin-right: 5px;
    width: 16px;
    height: 16px;
}
