.checkboxContainer {
    display: flex;
    align-items: center;
    cursor: pointer;
}

.checkbox {
    appearance: none;
    width: 18px;
    height: 18px;
    border-radius: 3px;
    border: 2px solid #2D609B;
    background-color: #fff;
    position: relative;
    outline: none;
    cursor: pointer;
    margin: 5px;
}

.checkboxChecked {
    background-color: #2D609B;
}

.checkmark {
    position: absolute;
    top: 0;
    left: 6px;
    width: 6px;
    height: 14px;
    border: solid white;
    border-width: 0 3px 3px 0;
    transform: rotate(45deg);
    opacity: 1;
}